body {
  background-image: url("../img/fondo-.jpg");
  background-size: cover;
  background-color: cornsilk;
  background-repeat: no-repeat;
  height: 100%;
  width: auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header-nosotros {
  display: flex;
  justify-content: space-between;
  background-color: cornsilk;
  font-size: 25px; }
  .header-nosotros .navbar {
    display: flex;
    flex-direction: row;
    font-size: 15px; }
    .header-nosotros .navbar .container-fluid .navbar-brand .logo-nosotros2 {
      height: 100px; }
      .header-nosotros .navbar .container-fluid .navbar-brand .logo-nosotros2:hover {
        transform: scale(2); }

/*Index*/
.bienvenidos {
  text-align: center;
  font-size: 35px;
  padding: 30px;
  background-color: wheat;
  border-top: 6px black double;
  border-bottom: 6px black double; }
  .bienvenidos #text-index {
    font-size: 20px;
    text-shadow: 0 0 2px;
    color: black; }

.productos {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  margin-bottom: 300px;
  justify-content: space-around; }
  .productos .div-index {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap; }
    .productos .div-index .div-productosI {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 250px;
      background-color: wheat;
      border: 2px solid black;
      margin: 20px;
      height: 385px; }
      .productos .div-index .div-productosI .boton {
        background-color: #d87320;
        color: white;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        font-size: 14px;
        align-items: center;
        margin-top: 10px; }
        .productos .div-index .div-productosI .boton .imagenbombilla {
          height: 73%;
          width: 100%; }
        .productos .div-index .div-productosI .boton .yerba {
          height: 73%;
          width: 100%; }

section div img {
  max-width: 100%;
  max-height: 100%; }

/*Productos*/
.main-p section .mproducto {
  background-color: rgba(0, 0, 0, 0.212); }
  .main-p section .mproducto .text-productos {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.212);
    color: white;
    text-shadow: 0 0 3px;
    font-size: 25px;
    padding: 50px 20px;
    font-family: "Petit Formal Script", cursive; }
  .main-p section .mproducto .galeria .item {
    margin-left: 20px;
    margin-top: 20px;
    width: 590px;
    border: 5px solid white; }
    .main-p section .mproducto .galeria .item:hover {
      transform: scale(1.05); }

/*Informacion*/
.video-informacion h1 {
  display: flex;
  justify-content: center;
  text-shadow: 0 0 3px;
  margin-top: 40px; }

.video-informacion .video-informacion1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px; }
  .video-informacion .video-informacion1 .div-informacion {
    display: flex;
    margin: 20px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between; }
    .video-informacion .video-informacion1 .div-informacion h3 {
      background-color: cornsilk;
      border: cornsilk 5px solid;
      border-radius: 20px;
      text-align: justify; }

/*Nosotros*/
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .contenedor .logo-nosotros {
    flex: 1;
    text-align: center;
    padding: 20px;
    height: 400px;
    width: 400px; }
  .contenedor .text-nosotros {
    flex: 1;
    padding: 20px;
    font-size: 20px;
    text-shadow: 0 0 3px;
    font-family: "Petit Formal Script", cursive;
    text-align: center;
    margin: 20px;
    background-color: cornsilk;
    border: cornsilk 5px solid;
    border-radius: 20px; }

/*Contacto*/
.main-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main-contacto .title-nosotros {
    text-align: center;
    margin-top: 70px;
    font-size: 35px;
    text-shadow: 0 0 3px;
    color: black; }
  .main-contacto .nosotros {
    margin-top: 70px;
    border: 8px solid black;
    text-align: center;
    width: 40%;
    font-size: 19px;
    background-color: cornsilk;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 20%; }

footer {
  margin-top: 300px;
  padding: 15px;
  background-color: cornsilk;
  border: 2px solid black;
  height: 100px;
  display: flex;
  justify-content: center; }
  footer div a img {
    height: 75px;
    padding: 5px 20px; }

@media screen and (min-width: 350px) and (max-width: 1250px) {
  .contenedor {
    height: auto;
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 700px) {
  .video-informacion .video-informacion1 {
    flex-direction: column; } }

@media screen and (max-width: 1300px) {
  .logo-nosotros img {
    width: 60%; } }

@media screen and (max-width: 750px) {
  .main-contacto .title-nosotros {
    font-size: 30px; }
  .main-contacto .nosotros {
    padding: 10px;
    width: 60%;
    align-items: center;
    width: 90%; } }

@media screen and (max-width: 650px) {
  .main-p section .mproducto .galeria .item {
    margin-left: 0; } }
